# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
.venv/
venv/
env/

# OS and editor files
.DS_Store
Thumbs.db
.idea/
.vscode/

# Build and local configurations
/mascot_loader_debug.log

# User-Project Static Configs (Ignore all custom users except demo)
config/user/*
!config/user/demo/

# User-Project Dynamic Runtime Data (Ignore all custom users except demo)
runtime/user/*
!runtime/user/demo/
